<!-- credit-plugins.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Plugins" %}

{% block content %}
    <div class="container-fluid py-0">
        <div class="row">
            {% include "partials/_sidebar.njk" %}

            <div class="col-12 col-lg-6 col-xl-8 offset-lg-3 offset-xl-2">
                <div class="row">
                    <div class="col py-5 docs-text">
                        <h1 class="h2">{{ title }}</h1>
                        <div class="d-flex flex-wrap flex-md-nowrap align-items-baseline justify-content-between">
                            <p class="lead text-muted mb-0">Thanks to everyone for sharing their plugins, libraries, engines, frameworks and polyfills.</p>
                        </div>
                        <hr>
                        
                        <section class="py-5">
                            <ul>
                                <li>AOS - Animate on scroll library -> <a href="https://michalsnik.github.io/aos/" target="_blank">https://michalsnik.github.io/aos/</a></li>
                                <li>bluebird -> <a href="http://bluebirdjs.com/" target="_blank">http://bluebirdjs.com/</a></li>
                                <li>Bootstrap 4 -> <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></li>
                                <li>Cookie Consent -> <a href="https://github.com/osano/cookieconsent" target="_blank">https://github.com/osano/cookieconsent</a></li>
                                <li>CountUp.js -> <a href="https://inorganik.github.io/countUp.js/" target="_blank">https://inorganik.github.io/countUp.js/</a></li>
                                <li>fetch-inject -> <a href="https://git.habd.as/jhabdas/fetch-inject" target="_blank">https://git.habd.as/jhabdas/fetch-inject</a></li>
                                <li>Gulp -> <a href="https://gulpjs.com/" target="_blank">https://gulpjs.com/</a></li>
                                <li>imagesLoaded -> <a href="https://imagesloaded.desandro.com/" target="_blank">https://imagesloaded.desandro.com/</a></li>
                                <li>Isotope -> <a href="https://isotope.metafizzy.co/" target="_blank">https://isotope.metafizzy.co/</a></li>
                                <li>Jarallax -> <a href="https://free.nkdev.info/jarallax/" target="_blank">https://free.nkdev.info/jarallax/</a></li>
                                <li>jQuery -> <a href="https://jquery.com/" target="_blank">https://jquery.com/</a></li>
                                <li>Laravel Mix -> <a href="https://laravel-mix.com/" target="_blank">https://laravel-mix.com/</a></li>
                                <li>Mapbox -> <a href="https://www.mapbox.com/" target="_blank">https://www.mapbox.com/</a></li>
                                <li>Node.js -> <a href="https://nodejs.org/en/" target="_blank">https://nodejs.org/en/</a></li>
                                <li>Nunjucks -> <a href="https://mozilla.github.io/nunjucks/" target="_blank">https://mozilla.github.io/nunjucks/</a></li>
                                <li>PhotoSwipe -> <a href="https://photoswipe.com/" target="_blank">https://photoswipe.com/</a></li>
                                <li>Popper.js -> <a href="https://popper.js.org/" target="_blank">https://popper.js.org/</a></li>
                                <li>Prism.js -> <a href="https://prismjs.com/" target="_blank">https://prismjs.com/</a></li>
                                <li>Sass -> <a href="http://sass-lang.com/" target="_blank">http://sass-lang.com/</a></li>
                                <li>smooth-scroll -> <a href="https://github.com/cferdinandi/smooth-scroll" target="_blank">https://github.com/cferdinandi/smooth-scroll</a></li>
                                <li>Sticky-js -> <a href="https://rgalus.github.io/sticky-js/" target="_blank">https://rgalus.github.io/sticky-js/</a></li>
                                <li>Swiper - The Most Modern Mobile Touch Slider -> <a href="https://swiperjs.com/" target="_blank">https://swiperjs.com/</a></li>
                                <li>Typed.js -> <a href="https://mattboldt.com/demos/typed-js/" target="_blank">https://mattboldt.com/demos/typed-js/</a></li>
                                <li>Webpack -> <a href="https://webpack.js.org/ " target="_blank">https://webpack.js.org/ </a></li>
                                <li>whatwg-fetch -> <a href="https://github.com/github/fetch" target="_blank">https://github.com/github/fetch</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-xl-2 sidebar sidebar-right py-6 d-none d-lg-block">
                
            </div>
        </div>
    </div>
{% endblock %}