{% if not fullScreen %}
    <!-- Footer -->
    <footer class="charcoalGrow text-white small" style="{% if displayNone2 %} display: none;{% endif %}">
        <div class="pt-6 pb-4 pt-lg-7 pb-lg-6">
            <div class="container">
                <div class="justify-content-md-between flex-column align-content-center">
                    <div style="margin-bottom: 25px; padding-bottom: 25px; border-bottom: 3px solid white" class="col-md-12 col-lg-12 d-flex flex-column justify-content-between {{'justify-content-lg-end align-items-lg-end' if footerPushed}}">
                        <!-- Footer social links -->
                        <div class="mt-4 mb-3 pt-lg-2 mx-auto mx-md-0 {{'order-lg-last' if footerPushed}} d-flex justify-content-center">
                            <a href="https://www.facebook.com/Growers-Advantage-105398138357094" class="text-reset text-decoration-none">
                                <svg width="28" height="28" class="mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>social-media-facebook</title><path d="M18.14,7.17A.5.5,0,0,0,17.77,7H14V5.59c0-.28.06-.6.51-.6h3a.44.44,0,0,0,.35-.15A.5.5,0,0,0,18,4.5V.5a.5.5,0,0,0-.5-.5H13.17C8.37,0,8,4.1,8,5.35V7H5.5a.5.5,0,0,0-.5.5v4a.5.5,0,0,0,.5.5H8V23.5a.5.5,0,0,0,.5.5h5a.5.5,0,0,0,.5-.5V12h3.35a.5.5,0,0,0,.5-.45l.42-4A.5.5,0,0,0,18.14,7.17Z"/></svg>
                            </a>
                            <a href="https://twitter.com/GA_LED_" class="text-white text-decoration-none">
                                <svg width="28" height="28" class="mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>social-media-twitter</title><path d="M23.32,6.44a.5.5,0,0,0-.2-.87l-.79-.2A.5.5,0,0,1,22,4.67l.44-.89a.5.5,0,0,0-.58-.7l-2,.56a.5.5,0,0,1-.44-.08,5,5,0,0,0-3-1,5,5,0,0,0-5,5v.36a.25.25,0,0,1-.22.25c-2.81.33-5.5-1.1-8.4-4.44a.51.51,0,0,0-.51-.15A.5.5,0,0,0,2,4a7.58,7.58,0,0,0,.46,4.92.25.25,0,0,1-.26.36L1.08,9.06a.5.5,0,0,0-.57.59,5.15,5.15,0,0,0,2.37,3.78.25.25,0,0,1,0,.45l-.53.21a.5.5,0,0,0-.26.69,4.36,4.36,0,0,0,3.2,2.48.25.25,0,0,1,0,.47A10.94,10.94,0,0,1,1,18.56a.5.5,0,0,0-.2,1,20.06,20.06,0,0,0,8.14,1.93,12.58,12.58,0,0,0,7-2A12.5,12.5,0,0,0,21.5,9.06V8.19a.5.5,0,0,1,.18-.38Z"/></svg>
                            </a>
                            <a href="https://www.linkedin.com/in/growers-advantage-585234210/" class="text-white text-decoration-none">
                                <svg width="28" height="28" class="mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>professional-network-linkedin</title><rect x="2" y="8.5" width="5" height="14" rx="0.5" ry="0.5"/><ellipse cx="4.48" cy="4" rx="2.48" ry="2.5"/><path d="M18.5,22.5h3A.5.5,0,0,0,22,22V13.6C22,9.83,19.87,8,16.89,8a4.21,4.21,0,0,0-3.17,1.27A.41.41,0,0,1,13,9a.5.5,0,0,0-.5-.5h-3A.5.5,0,0,0,9,9V22a.5.5,0,0,0,.5.5h3A.5.5,0,0,0,13,22V14.5a2.5,2.5,0,0,1,5,0V22A.5.5,0,0,0,18.5,22.5Z"/></svg>
                            </a>
                            <a href="mailto: info@growersadvantage.org" class="text-white text-decoration-none">
                                <svg width="28" height="28" class="mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>designer-community-dribbble</title><path d="M24,12A12,12,0,0,0,6.28,1.45l-.05,0A12.09,12.09,0,0,0,0,12a11.94,11.94,0,0,0,2.71,7.58l0,0h0A12,12,0,0,0,24,12ZM20.07,6.12A9.93,9.93,0,0,1,22,11.65c-.88-.09-1.82-.14-2.62-.14a24.12,24.12,0,0,0-4.17.38c-.27-.69-.56-1.37-.89-2A23.88,23.88,0,0,0,20.07,6.12ZM18.74,4.64a21.88,21.88,0,0,1-5.42,3.47A23.94,23.94,0,0,0,8.65,2.59a9.9,9.9,0,0,1,10.09,2ZM6.68,3.55a22,22,0,0,1,4.75,5.3A22,22,0,0,1,4.35,10c-.71,0-1.42,0-2.13-.11A10,10,0,0,1,6.68,3.55ZM2,11.92c.78.08,1.56.13,2.34.13a23.93,23.93,0,0,0,8.09-1.42q.43.84.78,1.71a23.78,23.78,0,0,0-9.59,5.11A9.9,9.9,0,0,1,2,11.92ZM4.87,19a21.79,21.79,0,0,1,9-4.78,22.1,22.1,0,0,1,.94,6.39c0,.33,0,.66,0,1A9.94,9.94,0,0,1,4.87,19Zm12,1.76s0-.1,0-.15a24.13,24.13,0,0,0-1-6.8,22.1,22.1,0,0,1,3.5-.3c.77,0,1.66.05,2.49.14A10,10,0,0,1,16.82,20.76Z"/></svg>
                            </a>
                            <img src="/assets/images/images-growers/logo-icon.png" class="logoIconSmall"/>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-6 mt-md-0 {{'order-lg-first' if footerPushed}}">
                        <!-- Footer links -->
                        <div class="row d-flex justify-content-between">
                            <div class="col-6 col-md-2 mb-4 mb-md-0">
                                <h3 class="h6 text-uppercase mb-3 colorThemeGreen1">Products</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <a href="/residential" class="text-reset">Residential</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/commercial" class="text-reset">Commercial</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/product/1" class="text-reset">GA1000</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/product/2" class="text-reset">GA2000</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/product/3" class="text-reset">GA3000</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/product/4" class="text-reset">GA4000</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/product/5" class="text-reset">GA5000</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-2 mb-4 mb-md-0">
                                <h3 class="h6 text-uppercase mb-3 colorThemeGreen1">Science</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Plant Health</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Indoor Growing</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Podacsts</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-2">
                                <h3 class="h6 text-uppercase mb-3 colorThemeGreen1">Technology</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">FAQs</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Pricing</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Terms</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-2">
                                <h3 class="h6 text-uppercase mb-3 colorThemeGreen1">Contact</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">FAQs</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Pricing</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Terms</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-2">
                                <h3 class="h6 text-uppercase mb-3 colorThemeGreen1">About</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Services</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">Legal</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" class="text-reset">About Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer bottom -->
        <div class="border-top border-gray py-3">
            <div class="container">
                <div class="row justify-content-between small">
                    <div class="col-auto">
                        <a href="#" class="text-reset">Privacy Policy</a> | <a href="#" class="text-reset">Cookie Policy</a>
                    </div>
                    <div class="col-auto">
                        <a data-scroll href="#" class="d-inline-block text-reset" title="Up to the top">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <title>arrow-button-up-1</title><path d="M12,10.416a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5l-8.739-8.739a.25.25,0,0,0-.354,0L3.084,23.232a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,10.416Z"/><path d="M12,.25a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5L12.177,4.327a.25.25,0,0,0-.354,0L3.084,13.066a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,.25Z"/></svg>
                        </a>
                    </div>
                    <div class="col-auto">
                        <span>&copy; 2021 Growers Advantage </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}