<!-- Header, navbar -->
<header style="background-color: #36454f; {% if displayNone %} display:none; {% endif %}" class="{% if navPadding%}p-0{% endif %} navbar position-fixed navbar-expand-lg align-items-center w-100 {{'fixed-top navbar-togglable' if fixedTop else 'position-absolute z-index-10'}} {{'navbar-dark' if navbarDark else 'navbar-light'}}" style="box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
    
    <div class="position-relative container{{'-fluid' if navbarFull}}">
        {% include "partials/_skip-main.njk" %}

        {% if navPic%}

            <a href="/">
                <img src="assets/images/images-growers/growers-advantage-logo.png" style="width: 300px; height: 100px;"></img>
            </a>

        {% endif %}

        {% if not fullScreen %}
            <!-- Toggler -->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav ml-auto">
                    {% for item in navbar %}
                        <li class="nav-item {% if item.dropdown | length %}{{ 'dropdown' }} {% endif %}">
                            <a class="nav-link {% if item.dropdown | length %}{{ 'dropdown-toggle' }}{% endif %} {% if item.nav_title === title %}{{ 'active' }}{% endif %}" href="{{ item.nav_link }}" {% if item.dropdown | length %} id="navbar{{ item.nav_title | replace(' ', '') }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>
                                {{ item.nav_title }}
                            </a>
                            {% if item.dropdown | length %}
                                <div class="dropdown-menu d-block d-lg-table" aria-labelledby="navbar{{ item.nav_title | replace(' ', '') }}">
                                    <div class="row no-gutters d-flex d-lg-table-row flex-lg-nowrap mb-2">
                                        {% for dropdown_cols in item.dropdown %}
                                            <div class="d-lg-table-cell {{ dropdown_cols.dropdown_column_class }}">
                                                {% if dropdown_cols.dropdown_column | length %}
                                                    <div class="row no-gutters d-lg-table-row">
                                                        {% for dropdown_sect in dropdown_cols.dropdown_column %}
                                                            <div class="{{ dropdown_sect.dropdown_section_class }}">
                                                                <h6 class="dropdown-header text-uppercase pt-3 pb-2">{{ dropdown_sect.dropdown_header }}</h6>
                                                                {% for dropdown_item in dropdown_sect.dropdown_section %}
                                                                    <a class="dropdown-item pt-0 pb-1 {% if dropdown_item.dropdown_title === title %}{{ 'active' }}{% endif %} {% if dropdown_item.dropdown_svg | length %}{{'d-flex align-items-center'}}{% if not loop.last%} mb-2{% endif %}{% endif %}" href="{{ dropdown_item.dropdown_link }}">
                                                                        {% if dropdown_item.dropdown_svg | length %}
                                                                            <span class="mr-3">
                                                                                {{ dropdown_item.dropdown_svg | safe }}
                                                                            </span>
                                                                        {% endif %}
                                                                        <span>
                                                                            {{ dropdown_item.dropdown_title | safe  }}
                                                                            {% if dropdown_item.dropdown_text | length %}
                                                                                <small class="text-muted d-block mt-n1">{{ dropdown_item.dropdown_text }}</small>
                                                                            {% endif %}
                                                                        </span>
                                                                    </a>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <!-- Buy button -->
                <div style="max-width: 100px; width: 100%;"></div>

            </div>
        {% endif %}
    </div>
</header>