<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Meta viewport tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- SEO Meta Tags-->

        <!--PingBacks?.......................................-->

        <!--<link rel="canonical" href="">-->
        <!--<link rel="shortlink" href="https://growray.com/">-->

        <!--Homepage-->
        <meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc">
        <meta name="author" content="Growers Advantage">

        <meta name="google-site-verification" content="zLUM-YA4sks9ZGHxbo-yPZBRjxefTP-FXTr8_DUnrDw" />

        <!--<meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->

        <!--404-->
        <!-- <meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->

        <!--About-->
        <!--<meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->

        <!--Case Study-->
        <!--<meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->

        <!--Contact-->
        <!--<meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->

        <!--Presentation-->
        <!--<meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->

        <!--Pricing-->
        <!--<meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content"">-->
        
        <!--Services-->
        <!--<meta name="description" content="Growers Advantage">
        <meta name="keywords" content="grow lights, lights, marijuana grow lights, marijuana, thc, ">
        <meta name="author" content="Growers Advantage">
        <meta property="og:locale" content"">
        <meta property="og:type" content"">
        <meta property="og:title" content"">
        <meta property="og:url" content"">
        <meta property="og:site_name" content"Growers Advantage">
        <meta property="" content""> -->


        <!-- Page title-->
        <title>
            {% if title %}{{ title }} | {% endif %}Growers Advantage - Marijuana Grow Lights</title>
        <link rel="icon" href="assets/images/images-growers/logo-icon.png">

        <!-- Theme Stylesheets -->
        {% if environment == 'production' %}
            <link href="assets/css/theme.min.css" rel="stylesheet">
        {% else %}
            <link href="assets/css/theme.css" rel="stylesheet">
        {% endif %}

        {% if environment == 'production' %}
            {% include "partials/_gtag.njk" %}
        {% endif %}
    </head>

    <body>
        {% include "layouts/_header.njk" %}
        <!-- Main content -->
        <main>
            {% block content %}{% endblock content %}
        </main>

        {% include "layouts/_footer.njk" %}
        {% include "partials/_photoswipe.njk" %}

        {% if environment == 'production' %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.min.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.min.js"></script>
        {% else %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.js"></script>
        {% endif %}
    </body>
</html>