<!-- careers-single.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Opening" %}
{% set navbarFull = true %}
{% set footerPushed = true %}

{% block content %}
    <section class="bg-light pt-8 mb-7" id="content">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col order-lg-last" data-aos="fade-left">
                    <div class="img-shifted shift-right vh-75 py-12 py-lg-15">
                        <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/photo-28.jpg);" data-jarallax data-speed=".8"></div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8 order-lg-first py-6 py-lg-3" data-aos="fade-right">
                    <h1>Front-End Developer</h1>
                    <p class="lead">We are in search of a Front-End Developer lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus quam non purus lobortis, fermentum facilisis arcu lacinia</p>
                    <p class="lead mb-4 mb-lg-7"><strong>Chicago, US - Permanent full-time</strong></p>
                    <a href="#apply-form" data-scroll class="btn btn-secondary text-uppercase d-inline-flex align-items-center">Apply Now<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-button-down-1</title><path d="M12,13.584a2.643,2.643,0,0,1-1.875-.775L.584,3.268a1.768,1.768,0,0,1,2.5-2.5l8.739,8.739a.25.25,0,0,0,.354,0L20.916.768a1.768,1.768,0,0,1,2.5,2.5l-9.541,9.541A2.643,2.643,0,0,1,12,13.584Z"/><path d="M12,23.75a2.643,2.643,0,0,1-1.875-.775L.584,13.434a1.768,1.768,0,0,1,2.5-2.5l8.739,8.739a.25.25,0,0,0,.354,0l8.739-8.739a1.768,1.768,0,0,1,2.5,2.5l-9.541,9.541A2.643,2.643,0,0,1,12,23.75Z"/></svg></a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mb-6 py-lg-7 mb-lg-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>Who we are</h2>
                    <p>We're one of the leading digital agencies in Chicago and we're looking to add a new frontend developer to our brilliant team.</p>
                    <p>We love new technologies and we have embraced many modern frontend tools to make our code more maintainable such as SASS, flexbox and webpack. When it comes to our more bespoke systems with large amounts of interface to build, you may also find yourself working with React and ES6+ as well as collaborating...</p>
                    <p class="mb-7">We are proud to have a well respected team of frontend developers who work closely with our inhouse designers to to create intuitive and compelling user experiences, and would love to find the right person to join us as we line up a number of brand new big name clients.</p>
                
                    <h2>Job description</h2>
                    <p>You will play an important part in maintaining the existing product and to help design, create and develop critical improvements and innovative new offerings for a new version soon to be launched in 2019. This is an exciting opportunity to join them at a key milestone in the growth of the business where they plan to fully globalise the product.</p>
                    <p>We're one of the leading digital agencies in Chicago and we're looking to add a new frontend developer to our brilliant team.</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card-columns gallery mb-6">
                        <div class="card">
                            <figure class="mb-0">
                                <a href="assets/images/photos/photo-29.jpg" data-size="894x1260" title="Image 1">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-29.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-29.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-29.jpg" alt="photo-25" class="card-img">
                                    </picture>
                                </a>
                                <figcaption class="sr-only">Image caption 1</figcaption>
                            </figure>
                        </div>
                        <div class="card">
                            <figure class="mb-0">
                                <a href="assets/images/photos/photo-30.jpg" data-size="640x427" title="Image 2">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-30.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-30.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-30.jpg" alt="photo-30" class="card-img">
                                    </picture>
                                </a>
                                <figcaption class="sr-only">Image caption 2</figcaption>
                            </figure>
                        </div>
                        <div class="card">
                            <figure class="mb-0">
                                <a href="assets/images/photos/photo-31.jpg" data-size="640x427" title="Image 3">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-31.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-31.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-31.jpg" alt="photo-31" class="card-img">
                                    </picture>
                                </a>
                                <figcaption class="sr-only">Image caption 3</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>Essential skills</h2>
                    <ul class="list-unstyled mb-5">
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Strong proven experience with JavaScript</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Strong experience with either of the following Vue.JS/AngularJS/NodeJS or ReactJS</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Excellent knowledge of HTML, CSS</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>An understanding of GIT and Gitflow</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Working in a defined software development lifecycle</li>
                        <li><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Agile methodologies</li>
                    </ul>
                    <p class="mb-7">The ideal candidate will be design focused, driven to understand what clients really value, and committed to building this value into the product whilst offering the best possible You may have full exposure to a number of JavaScript technologies but the company are fairly tech agnostic so if you have the willingness to learn and cross over into a new framework this role would be right for you.</p>
                
                    <h2>Desirable skills</h2>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Multiple framework exposure (React/Angular/Node/Vue) etc</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>API-based design (RESTful API's)</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>AWS (Amazon Web Services)</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>User experience</li>
                        <li class="mb-2"><svg class="fill-secondary mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>Unit Testing</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="py-15">
            <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/photo-32.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center align-items-lg-end justify-content-end mt-lg-9">
                        <div class="col-lg-6 col-xl-5">
                            <div class="bg-white p-5 p-lg-6" id="apply-form">
                                <h2>Apply now</h2>

                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Full name" aria-label="Full name" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Email address" aria-label="Email address" />
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Cover letter" aria-label="Cover letter" aria-describedby="cover-addon">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn text-uppercase px-3" type="button" id="cover-addon">
                                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>common-file-text-upload</title><path d="M12,8.5h7a1,1,0,0,0,0-2H12a1,1,0,0,0,0,2Z"/><path d="M24,4.415A2,2,0,0,0,23.414,3L21,.585A2,2,0,0,0,19.586,0H8A2,2,0,0,0,6,2V9.275a.248.248,0,0,0,.242.25c.366.006,1.038.034,1.485.083A.246.246,0,0,0,8,9.36V2.5A.5.5,0,0,1,8.5,2H19.379a.5.5,0,0,1,.353.146l2.122,2.122A.5.5,0,0,1,22,4.621V18a.5.5,0,0,1-.5.5H14.642a.245.245,0,0,0-.241.21,7.956,7.956,0,0,1-.364,1.458.244.244,0,0,0,.228.331H22a2,2,0,0,0,2-2Z"/><path d="M17.5,12a1,1,0,0,0-1-1h-4a.955.955,0,0,0-.679.288.172.172,0,0,0,.007.256,8.065,8.065,0,0,1,1.21,1.353.24.24,0,0,0,.2.1H16.5A1,1,0,0,0,17.5,12Z"/><path d="M6.5,11A6.5,6.5,0,1,0,13,17.5,6.508,6.508,0,0,0,6.5,11Zm2.391,5.688A.5.5,0,0,1,8.5,17.5H7.75a.25.25,0,0,0-.25.25V20.5a1,1,0,0,1-2,0V17.75a.25.25,0,0,0-.25-.25H4.5a.5.5,0,0,1-.391-.812l2-2.5a.517.517,0,0,1,.782,0Z"/></svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="CV summary" aria-label="CV summary" aria-describedby="cv-addon">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn text-uppercase px-3" type="button" id="cv-addon">
                                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>common-file-text-upload</title><path d="M12,8.5h7a1,1,0,0,0,0-2H12a1,1,0,0,0,0,2Z"/><path d="M24,4.415A2,2,0,0,0,23.414,3L21,.585A2,2,0,0,0,19.586,0H8A2,2,0,0,0,6,2V9.275a.248.248,0,0,0,.242.25c.366.006,1.038.034,1.485.083A.246.246,0,0,0,8,9.36V2.5A.5.5,0,0,1,8.5,2H19.379a.5.5,0,0,1,.353.146l2.122,2.122A.5.5,0,0,1,22,4.621V18a.5.5,0,0,1-.5.5H14.642a.245.245,0,0,0-.241.21,7.956,7.956,0,0,1-.364,1.458.244.244,0,0,0,.228.331H22a2,2,0,0,0,2-2Z"/><path d="M17.5,12a1,1,0,0,0-1-1h-4a.955.955,0,0,0-.679.288.172.172,0,0,0,.007.256,8.065,8.065,0,0,1,1.21,1.353.24.24,0,0,0,.2.1H16.5A1,1,0,0,0,17.5,12Z"/><path d="M6.5,11A6.5,6.5,0,1,0,13,17.5,6.508,6.508,0,0,0,6.5,11Zm2.391,5.688A.5.5,0,0,1,8.5,17.5H7.75a.25.25,0,0,0-.25.25V20.5a1,1,0,0,1-2,0V17.75a.25.25,0,0,0-.25-.25H4.5a.5.5,0,0,1-.391-.812l2-2.5a.517.517,0,0,1,.782,0Z"/></svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group mb-1">
                                    <button type="button" class="btn btn-secondary text-uppercase w-100 d-flex justify-content-center">Send<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>send-email-1</title><path d="M23.612.225a1.045,1.045,0,0,0-1.138-.1L.827,11.646a1.547,1.547,0,0,0,.125,2.8l3.254,1.38a.719.719,0,0,0,.043.245l2.5,6.746A1.817,1.817,0,0,0,8.463,24a1.846,1.846,0,0,0,1.219-.474c.039-.035,2.79-3.078,3.4-3.754a.249.249,0,0,1,.283-.062l3.157,1.339a1.591,1.591,0,0,0,1.3-.027,1.563,1.563,0,0,0,.835-.983L23.961,1.3A1.014,1.014,0,0,0,23.612.225ZM5.838,16.046,15.53,7.983A.226.226,0,0,1,15.867,8a.219.219,0,0,1,.019.332L8.648,17.187a.728.728,0,0,0-.157.351l-.633,3.95Z"/></svg></button>
                                </div>
                                <p class="small text-muted mb-0 font-italic text-center">All applications will remain private</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}