<!-- legal.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Legal" %}
{% set navbarFull = true %}

{% block content %}
    <section class="pt-11 pb-6 pt-lg-12 pb-lg-7 bg-light" id="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Terms and Conditions</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mb-6 py-lg-7 mb-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="h3">Introduction</h2>
                    <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Square accessible at <a href="#" class="text-underline">https://themes.getbootstrap.com/</a>.</p>
                    <p>These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</p>
                    <h2 class="h3">Intellectual Property Rights</h2>
                    <p>Other than the content you own, under these Terms, Webinning Ltd. and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>
                    <p>You are granted limited license only for purposes of viewing the material contained on this Website.</p>
                    <h2 class="h3">Restrictions</h2>
                    <p>You are specifically restricted from all of the following:</p>
                    <ul class="list-unstyled mb-5">
                        <li class="mb-2"><svg class="fill-danger mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M20.485,3.534a12,12,0,0,0-16.97,16.98,12.136,12.136,0,0,0,16.684.277,12.072,12.072,0,0,0,2.471-3.26,11.936,11.936,0,0,0,1.2-3.744A12.238,12.238,0,0,0,24,12.024,11.932,11.932,0,0,0,20.485,3.534ZM5.292,5.292a9.623,9.623,0,0,1,12.23-1.023.264.264,0,0,1,.031.4L4.667,17.561a.265.265,0,0,1-.4-.031A9.5,9.5,0,0,1,5.292,5.292ZM18.749,18.756A9.518,9.518,0,0,1,6.518,19.779a.264.264,0,0,1-.032-.4L19.373,6.486a.265.265,0,0,1,.4.031,9.5,9.5,0,0,1-1.023,12.239Z"/></svg>publishing any Website material in any other media</li>
                        <li class="mb-2"><svg class="fill-danger mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M20.485,3.534a12,12,0,0,0-16.97,16.98,12.136,12.136,0,0,0,16.684.277,12.072,12.072,0,0,0,2.471-3.26,11.936,11.936,0,0,0,1.2-3.744A12.238,12.238,0,0,0,24,12.024,11.932,11.932,0,0,0,20.485,3.534ZM5.292,5.292a9.623,9.623,0,0,1,12.23-1.023.264.264,0,0,1,.031.4L4.667,17.561a.265.265,0,0,1-.4-.031A9.5,9.5,0,0,1,5.292,5.292ZM18.749,18.756A9.518,9.518,0,0,1,6.518,19.779a.264.264,0,0,1-.032-.4L19.373,6.486a.265.265,0,0,1,.4.031,9.5,9.5,0,0,1-1.023,12.239Z"/></svg>selling, sublicensing and/or otherwise commercializing any Website material</li>
                        <li class="mb-2"><svg class="fill-danger mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M20.485,3.534a12,12,0,0,0-16.97,16.98,12.136,12.136,0,0,0,16.684.277,12.072,12.072,0,0,0,2.471-3.26,11.936,11.936,0,0,0,1.2-3.744A12.238,12.238,0,0,0,24,12.024,11.932,11.932,0,0,0,20.485,3.534ZM5.292,5.292a9.623,9.623,0,0,1,12.23-1.023.264.264,0,0,1,.031.4L4.667,17.561a.265.265,0,0,1-.4-.031A9.5,9.5,0,0,1,5.292,5.292ZM18.749,18.756A9.518,9.518,0,0,1,6.518,19.779a.264.264,0,0,1-.032-.4L19.373,6.486a.265.265,0,0,1,.4.031,9.5,9.5,0,0,1-1.023,12.239Z"/></svg>publicly performing and/or showing any Website material</li>
                        <li class="mb-2"><svg class="fill-danger mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M20.485,3.534a12,12,0,0,0-16.97,16.98,12.136,12.136,0,0,0,16.684.277,12.072,12.072,0,0,0,2.471-3.26,11.936,11.936,0,0,0,1.2-3.744A12.238,12.238,0,0,0,24,12.024,11.932,11.932,0,0,0,20.485,3.534ZM5.292,5.292a9.623,9.623,0,0,1,12.23-1.023.264.264,0,0,1,.031.4L4.667,17.561a.265.265,0,0,1-.4-.031A9.5,9.5,0,0,1,5.292,5.292ZM18.749,18.756A9.518,9.518,0,0,1,6.518,19.779a.264.264,0,0,1-.032-.4L19.373,6.486a.265.265,0,0,1,.4.031,9.5,9.5,0,0,1-1.023,12.239Z"/></svg>using this Website in any way that is or may be damaging to this Website</li>
                        <li><svg class="fill-danger mr-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M20.485,3.534a12,12,0,0,0-16.97,16.98,12.136,12.136,0,0,0,16.684.277,12.072,12.072,0,0,0,2.471-3.26,11.936,11.936,0,0,0,1.2-3.744A12.238,12.238,0,0,0,24,12.024,11.932,11.932,0,0,0,20.485,3.534ZM5.292,5.292a9.623,9.623,0,0,1,12.23-1.023.264.264,0,0,1,.031.4L4.667,17.561a.265.265,0,0,1-.4-.031A9.5,9.5,0,0,1,5.292,5.292ZM18.749,18.756A9.518,9.518,0,0,1,6.518,19.779a.264.264,0,0,1-.032-.4L19.373,6.486a.265.265,0,0,1,.4.031,9.5,9.5,0,0,1-1.023,12.239Z"/></svg>using this Website to engage in any advertising or marketing</li>
                    </ul>
                    <p>Certain areas of this Website are restricted from being access by you and Webinning Ltd. may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</p>
                    <h2 class="h3">Your Content</h2>
                    <p>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Webinning Ltd. a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</p>
                    <p>Your Content must be your own and must not be invading any third-party's rights. Webinning Ltd. reserves the right to remove any of Your Content from this Website at any time without notice.</p>
                    <h2 class="h3">No warranties</h2>
                    <p>This Website is provided “as is,” with all faults, and Webinning Ltd. express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>
                    <h2 class="h3">Indemnification</h2>
                    <p>You hereby indemnify to the fullest extent Webinning Ltd. from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms. If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions.</p>
                    <h2 class="h3">Entire Agreement</h2>
                    <p>These Terms constitute the entire agreement between Webinning Ltd. and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>
                    <p class="mb-0">These Terms will be governed by and interpreted in accordance with the laws the State of gb, and you submit to the non-exclusive jurisdiction of the state and federal courts located in gb for the resolution of any disputes.</p>
                </div>
            </div>
        </div>
    </section>

    <div id="cookie-template">
        <div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-classic cc-bottom bg-primary text-white border-top border-gray shadow-lg">
            <span id="cookieconsent:desc" class="cc-message">This website uses cookies to ensure you get the best experience on our website. <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link text-reset" href="#" rel="noopener noreferrer nofollow" target="_blank">Learn more</a></span>
            <div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss btn btn-secondary text-white text-uppercase">Got it!</a></div>
        </div>
    </div>
    <div id="cookie-consent"></div>
{% endblock content %}