<!-- photography.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Photography" %}
{% set navbarFull = true %}

{% block content %}
    <section class="mb-6 mb-lg-7" id="content">
        <div class="container-fluid px-0">
            <div class="row no-gutters align-items-center">
                <div class="col-md" data-aos="fade-right">
                    <div class="img-shifted shift-left vh-100">
                        <div class="bg-image bg-cover bg-position-top-center" style="background-image: url(assets/images/photos/photo-70.jpg);"></div>
                    </div>
                </div>
                <div class="col-md-6 vh-100 d-flex flex-column" data-aos="fade-left">
                    <div class="px-5 px-lg-7 px-xl-9 mt-auto">
                        <h1 class="display-3 upper-line mb-6">Chester Morgan,<br />photographer</h1>
                        <a href="#" class="btn btn-secondary text-uppercase d-inline-flex align-items-center">Contact Us<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"></path></svg></a>
                    </div>
                    <div class="bg-light px-5 px-lg-7 px-xl-9 py-5 mt-auto">
                        <p class="font-size-3 mb-0"><span class="font-italic">“Beauty is in the heart of the beholder”</span><br />H.G. Wells</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 py-lg-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>About Chester Studio</h2>
                        </div>
                        <div class="col-lg-6" data-aos="fade-right">
                            <p class="mb-4 mb-lg-6">Cras in vehicula ante, ut sollicitudin nisi. Nulla in mauris eu nulla feugiat dignissim. Ut in ex aliquet, feugiat elit eu, tincidunt nibh. Sed ultricies imperdiet turpis. Vestibulum a odio lacus. Sed a mauris nulla. Donec gravida tortor vel luctus malesuada. Ut condimentum quam non mauris scelerisque iaculis.</p>
                        </div>
                        <div class="col-lg-6" data-aos="fade-left">
                            <p>Suspendisse rhoncus dolor at lorem laoreet vehicula. Vestibulum volutpat faucibus massa, et consequat leo finibus non. In iaculis lectus sed luctus facilisis. In sollicitudin et nibh eu posuere. <strong>Vivamus faucibus</strong> felis in lacinia dictum. Quisque tincidunt mauris nisi, sit amet tristique orci luctus quis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mb-6 py-lg-7 mb-lg-7 bg-layer-light-top-100-left-50 position-relative overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Newest models</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col">
                    <div class="swiper container">
                        <div class="swiper-container swiper-scaled overflow-visible" data-options='{"slidesPerView": 1, "spaceBetween": 0, "breakpoints": {"768": {"slidesPerView": 2}, "992": {"slidesPerView": 3}}}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-71.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-71.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-71.jpg" alt="photo-71" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-72.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-72.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-72.jpg" alt="photo-72" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-73.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-73.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-73.jpg" alt="photo-73" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-74.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-74.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-74.jpg" alt="photo-74" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-75.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-75.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-75.jpg" alt="photo-75" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-76.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-76.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-76.jpg" alt="photo-76" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="assets/images/photos/photo-77.webp" type="image/webp">
                                        <source srcset="assets/images/photos/photo-77.jpg" type="image/jpg"> 
                                        <img src="assets/images/photos/photo-77.jpg" alt="photo-77" class="img-fluid shadow" width="400">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="d-flex justify-content-start">
                <div class="swiper-btn swiper-btn-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                <div class="swiper-btn swiper-btn-next ml-3" tabindex="0" role="button" aria-label="Next slide"></div>
            </div>
        </div>
    </section>

    <section class="py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-12 text-center">
                            <h2>People said about us</h2>
                        </div>
                        <div class="col-lg-7 pr-lg-6 position-relative z-index-1" data-aos="fade-up">
                            <div class="card shadow mb-5">
                                <div class="card-body p-4 p-md-5 px-lg-7 py-lg-6">
                                    <blockquote class="blockquote mb-0">
                                        <h3 class="h4 text-body">They understand what our brand is about and what we want to accomplish.</h3>
                                        <p class="font-size-6 text-gray font-italic mb-0">We are so happy to be with this agency. We are really grateful for the coverage they have secured for us in the last few months of working together. <br/>This last month of December has been our busiest ever, and it's thanks to you and the exposure they've achieved for our brand.</p>
                                        <footer class="blockquote-footer font-size-6 text-right text-gray font-weight-bold">Josephine Cole</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <a href="#" class="font-size-6 font-weight-bold d-flex-inline d-none d-lg-block">Read all reviews<svg class="ml-2" width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-button-right-1</title><path d="M13.584,12a2.643,2.643,0,0,1-.775,1.875L3.268,23.416a1.768,1.768,0,0,1-2.5-2.5l8.739-8.739a.25.25,0,0,0,0-.354L.768,3.084a1.768,1.768,0,0,1,2.5-2.5l9.541,9.541A2.643,2.643,0,0,1,13.584,12Z"></path><path d="M23.75,12a2.643,2.643,0,0,1-.775,1.875l-9.541,9.541a1.768,1.768,0,0,1-2.5-2.5l8.739-8.739a.25.25,0,0,0,0-.354L10.934,3.084a1.768,1.768,0,0,1,2.5-2.5l9.541,9.541A2.643,2.643,0,0,1,23.75,12Z"></path></svg></a>
                        </div>
                        <div class="col-lg-6 ml-lg-n8 mt-lg-6" data-aos="fade-up" data-aos-delay="50">
                            <div class="card bg-light shadow">
                                <div class="card-body p-4 p-md-5 px-lg-7 py-lg-6">
                                    <blockquote class="blockquote mb-0">
                                        <h3 class="h4 text-body">We love working with the Irene and her passionate and friendly team.</h3>
                                        <p class="font-size-6 text-gray font-italic mb-0">It's a dream to work with these girls, they are hardworking, fun, friendly and most importantly they just get it. It has helped us achieve much more brand awareness than we could ever have imagined. <br/>The team is so friendly and helpful, you feel you get their undeserved attention.</p>
                                        <footer class="blockquote-footer font-size-6 text-right text-gray font-weight-bold">Claudia Mitchell</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mb-6 py-lg-7 mb-lg-7">
        <div class="container-fluid px-lg-0">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="py-12 py-lg-15">
                        <div class="bg-image bg-cover mr-lg-5" style="background-image: url(assets/images/photos/photo-78.jpg);"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="h2">Our studio</h3>
                    <p>Suspendisse rhoncus dolor at lorem laoreet vehicula. Vestibulum volutpat faucibus massa, et consequat leo finibus non</p>
                    <div class="d-flex" data-aos="fade-left">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <p class="font-size-5 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="100">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <p class="font-size-5 mb-3">Duis maximus erat non ligula dignissim</p>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="200">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <p class="font-size-5 mb-3">Curabitur varius nunc a turpis eleifend tincidunt</p>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <p class="font-size-5 mb-3">Vivamus pretium tortor ac accumsan congue</p>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <p class="font-size-5 mb-3">Aliquam congue nunc malesuada arcu</p>
                        </div>
                    </div>

                    <a href="#" class="btn btn-primary text-uppercase d-inline-flex align-items-center mt-5">Contact Us<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"></path></svg></a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}