<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}
{% set navPic = true %}
{% set navPadding = true %}

{% block content %}
    <section style="height: 150px;"></section>

    <section  style="margin-left: 10px;">
        <nav class="nav justify-content-center mb-6">
            <a class="badge badge-pill badge-soft-growers h6 text-uppercase mx-1 py-2 px-3 mb-2 active" href="#" data-filter="*" data-target="#portfolio" data-link-group="categories">All</a>
            <a class="badge badge-pill badge-soft-growers h6 text-uppercase mx-1 py-2 px-3 mb-2" href="#" data-filter=".illustration" data-target="#portfolio" data-link-group="categories">Plant Health</a>
            <a class="badge badge-pill badge-soft-growers h6 text-uppercase mx-1 py-2 px-3 mb-2" href="#" data-filter=".branding" data-target="#portfolio" data-link-group="categories">Indoor Growing</a>
            <a class="badge badge-pill badge-soft-growers h6 text-uppercase mx-1 py-2 px-3 mb-2" href="#" data-filter=".photographing" data-target="#portfolio" data-link-group="categories">Podcasts</a>
        </nav>
        <div style="margin-left: 20%; margin-right: 20%;">
            <div class="tab-pane fade show active" id="result1" role="tabpanel">

                <div class="row mx-n3 grid" data-isotope='{"layoutMode": "masonry", "itemSelector": ".grid-item"}' id="portfolio">
                    <div class="grid-item branding col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item photographing col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item branding col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item photographing col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item photographing col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item illustration col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item illustration col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item branding col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item branding col-md-6 col-lg-4 px-3 mb-5">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="html1" role="tabpanel">
                <pre><code class="language-html"><script type="text/plain">
                <nav class="nav">
                    <a href="#" data-filter="*" data-target="#portfolio">All</a>
                    <a href="#" data-filter=".illustration" data-target="#portfolio">Illustration</a>
                    <a href="#" data-filter=".branding" data-target="#portfolio">Branding</a>
                    <a href="#" data-filter=".photographing" data-target="#portfolio">Photographing</a>
                </nav>

                <div data-isotope='{"layoutMode": "masonry", "itemSelector": ".grid-item"}' id="portfolio">
                    <div class="grid-item branding">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>                    
                    </div>
                    <div class="grid-item photographing">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item branding">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item photographing">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item photographing">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item illustration">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item illustration">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item branding">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                    <div class="grid-item branding">
                        <div class="card shadow">
                            <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                            <div class="card-body">
                                <p class="font-size-6 text-uppercase mb-0">
                                    <small class="font-weight-bold">May 28, 2019</small>
                                </p>
                                <h3 class="h4 card-title mb-0">
                                    <a href="#" class="text-body stretched-link">
                                            Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                            <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>navigation-next-alternate</title>
                                            <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                            <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                        </svg>
                                    </a>
                                </h3>
                            </div>
                        </div>    
                    </div>
                </div>
                </script></code></pre>
            </div>
        </div>
    </section>

{% endblock content %}