<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}
{% set navPic = true %}

{% block content %}
    <section style="height: 150px;"></section>

    <!-- Section: Categories -->
    <section style="margin-left: 5px; margin-bottom: 10px; border: 1px solid black; width: 18%;">

        <h5 class="ml-1">Plant Health</h5>
        <div class="text-muted small text-uppercase mb-5">

            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Sea of Green</a>
            </p>
            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Soil</a>
            </p>
            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Light</a>
            </p>
        </div>

        <h5 class="ml-1">Indoor Growing</h5>
        <div class="text-muted small text-uppercase mb-5">

            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Humidity</a>
            </p>
            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Temperature</a>
            </p>
        </div>
        <h5 class="ml-1">Growers Advantage</h5>
        <div class="text-muted small text-uppercase mb-5">

            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Testimonial</a>
            </p>
            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Mission Statement</a>
            </p>
            <p class="mb-3 ml-3">
                <a href="#!" class="card-link-secondary">Shorts</a>
            </p>
        </div>
    </p>

</section>
<!-- Section: Categories -->

{% endblock content %}