{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}
{% set navPic = true %}

{% block content %}
    <div class="productPageHeightFromNav"></div>

    {# product caresoul #}
    <section class="marginBottin100px">
        <div class="row">
            <div style="padding: 0px;" class="col-md-6 mb-4">
                <div style="padding: 0px;" class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="result8" role="tabpanel">
                            <div class="px-6 position-relative">
                                <div class="swiper">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-86.jpg" alt="photo-86" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-87.jpg" alt="photo-87" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-88.jpg" alt="photo-88" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-89.jpg" alt="photo-89" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-90.jpg" alt="photo-90" class="img-fluid w-100">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-container swiper-thumbs mt-2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-86.jpg" alt="photo-86" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-87.jpg" alt="photo-87" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-88.jpg" alt="photo-88" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-89.jpg" alt="photo-89" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-90.jpg" alt="photo-90" class="img-fluid w-100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="html8" role="tabpanel">
                            <pre><code class="language-html"><script type="text/plain">
                                <div class="swiper">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-86.jpg" alt="photo-86" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-87.jpg" alt="photo-87" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-88.jpg" alt="photo-88" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-89.jpg" alt="photo-89" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-90.jpg" alt="photo-90" class="img-fluid w-100">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="position-absolute left-0 top-50 container d-flex justify-content-between">
                                        <div class="swiper-btn swiper-btn-prev ml-n4 ml-lg-n5" tabindex="0" role="button" aria-label="Previous slide"></div>
                                        <div class="swiper-btn swiper-btn-next mr-n4 mr-lg-n5" tabindex="0" role="button" aria-label="Next slide"></div>
                                    </div>

                                    <div class="swiper-container swiper-thumbs">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-86.jpg" alt="photo-86" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-87.jpg" alt="photo-87" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-88.jpg" alt="photo-88" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-89.jpg" alt="photo-89" class="img-fluid w-100">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../assets/images/photos/photo-90.jpg" alt="photo-90" class="img-fluid w-100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </script></code></pre>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 flex-flex">
                <h5>{{product.product_name}}</h5>
                <p class="mb-2 text-muted text-uppercase small">{{product.type}}</p>
                <p>
                    <span class="mr-1">
                        <strong>${{product.price}}</strong></span></p>
                <p class="pt-1">{{product.details}} And is the best light on the market. With our chips your heat output will decrease to near nothing!</p>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Model</strong>
                                </th>
                                <td>{{product.product_name}}</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Watts</strong>
                                </th>
                                <td>1200</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Delivery</strong>
                                </th>
                                <td>USA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive mb-2">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="pl-0 pb-0 w-25">Quantity</td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="def-number-input number-input safari_only mb-0">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" style="background-color: #789904;" class="btn btn-primary btn-md mr-1 mb-2" id="buy-now">Buy now</button>
                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                    <i class="fas fa-shopping-cart pr-2"></i>Add to cart
                </button>
            </div>
        </div>
    </section>

    <section class="container2">
        <a class="card shadow-sm lift mb-5 mb-lg-6">
            <div class="row no-gutters">
                <div class="col-lg-5 order-lg-last py-8 py-md-9">
                    <div class="bg-image bg-cover" style="background-image: url(../assets/images/images-growers/ga-commercial-1.png);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="card-body p-5 py-lg-6 px-lg-5">
                        <p class="font-size-6 text-uppercase font-weight-bold mb-0">July 10, 2019</p>
                        <h3 class="card-title">Cras efficitur pellentesque purus, at rutrum tellus. Nullam at pretium ex<svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg>
                        </h3>
                        <p class="card-text">Nunc ex risus, venenatis mollis scelerisque non, molestie id lacus. Nullam convallis egestas dolor id condimentum. Curabitur et cursus risus. Mauris tristique, nibh eget tempor malesuada, dolor nibh mollis lectus, eu tristique justo elit at dui. Maecenas nec commodo velit, at sollicitudin ligula.
                    Nunc ex risus, venenatis mollis scelerisque non, molestie id lacus. Nullam convallis egestas dolor id condimentum. Curabitur et cursus risus. Mauris tristique, nibh eget tempor malesuada, dolor nibh mollis lectus, eu tristique justo elit at dui. Maecenas nec commodo velit, at sollicitudin ligula.
                    </p>
                    </div>
                </div>
            </div>
        </a>
    </section>

    <section class="my-6 my-lg-7 bg-primary" id="slider-multiple">
        <div class="swiper fade show active">
            <div style="overflow: visible;" class="swiper-container" data-options='{"slidesPerView": 1, "loop": true, "breakpoints": {"992": {"slidesPerView": 1}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container py-4">
                            <div class="d-flex justify-content-center">
                                <h2 class="text-white">The Best Lights Grow right!</h2>
                            </div>
                            <div class="row justify-content-center justify-content-around text-center pt-5">
                                <div class="pr-2 d-flex flex-column align-items-center">
                                    <title>clock</title>
                                    <img src="../assets/images/images-growers/hand-leaf-no-bg.png" class="productIdIconWH"></img>
                                    <a href="/residential" style="background-color: #f5a800; border-color: #f5a800;" data-scroll class="btn btn-secondary text-uppercase d-inline-flex align-items-center">Stronger Yields<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>arrow-right-1</title>
                                            <path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="pl-2 pr-2 d-flex flex-column align-items-center">
                                    <title>clock</title>
                                    <img src="../assets/images/images-growers/save-no-bg.png" class="productIdIconWH"></img>
                                    <a href="/residential" style="background-color: #f5a800; border-color: #f5a800;" data-scroll class="btn btn-secondary text-uppercase d-inline-flex align-items-center">Enegery Efficient<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>arrow-right-1</title>
                                            <path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="pl-2 d-flex flex-column align-items-center">
                                    <title>clock</title>
                                    <img src="../assets/images/images-growers/bulb-no-bg.png" class="productIdIconWH"></img>
                                    <a href="/residential" style="background-color: #f5a800; border-color: #f5a800;" data-scroll class="btn btn-secondary text-uppercase d-inline-flex align-items-center">Better Technology<svg width="16" height="16" class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>arrow-right-1</title>
                                            <path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="container py-4">
                            <div class="mt-n7 row justify-content-center align-items-center text-center">
                                <img class="testimonialImgCircleWH" data-aos="fade-down" src="https://www.iphonesavvy.com/sites/default/files/%5Bcurrent-date%3Afile_path%5D/jan-profile-circle.png">
                                <div class="col-lg-10 text-white" data-aos="zoom-in">
                                    <h3 class="font-size-4 font-weight-normal font-italic">Have just started working with SQUARE theme and have to say, it looks great. <br class="d-none d-lg-block"/>I love the simple and elegant layouts from a design point of view. <br class="d-none d-lg-block"/>Especially the Swiss inspired typography. I can't wait to get building with this theme.</h3>
                                    <p class="font-size-6 text-muted mb-0">Nelson Harris, CEO of AweSum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <div class="swiper-btn swiper-btn-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                    <div class="swiper-btn swiper-btn-next ml-3" tabindex="0" role="button" aria-label="Next slide"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="heightOneHunGrow"></div>
    <section class="bg-light widthOneHun">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-around widthOneHun">
                        <div style="width: 22px;"></div>
                        <div style="width: 2px;"></div>
                        <img src="../assets/images/images-growers/ga-commercial-1.png" alt="photo-33" class="h-auto img-fullplus mt-n7 imgBehindOneThirdRight" data-aos="fade-down">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" class="bg-light">
        <div class="container mb-7 mb-lg-10 mt-n7">
            <div class="row">
                <div class="col">
                    <div class="p-5 px-lg-7 py-lg-6 bg-white shadow">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <p class="small text-uppercase font-weight-bold mb-0">July 27, 2019</p>
                                <h2>We finished our office redesign,<br>it's pretty cool!</h2>
                            </div>
                            <div class="col-lg-8 col-xl-9">
                                <h2>How to use Visual Positioning Systems safely</h2>
                                <p>Suspendisse rhoncus dolor at lorem laoreet vehicula. Vestibulum volutpat faucibus massa, et consequat leo finibus non. In iaculis lectus sed luctus facilisis.</p>
                                <ul>
                                    <li>Top reasons to pick us</li>
                                    <li>And info pertaining to scientifically and factually show why!</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-xl-3 d-flex justify-content-lg-end align-items-start">
                                <a href="blog-single.html" class="btn btn-secondary text-uppercase d-inline-flex align-items-center px-3 px-sm-5">Read more<svg width="20" height="20" class="ml-2 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <title>navigation-next-alternate</title>
                                        <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/>
                                        <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tabset productIdTable">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="Table" checked>
        <label for="tab1">Specs</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="Other">
        <label for="tab2">Other</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="Other">
        <label for="tab3">Other</label>

        <div class="tab-panels">
            <section id="Table" class="tab-panel">
                <table class="table">
                    <thead style="background-color: #90c23e; color: white;">
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Energy Used</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="Other" class="tab-panel">More Info</section>
            <section id="Other" class="tab-panel">More Info!!!!!!</section>
        </div>
    </section>

    <section class="my-6 my-lg-7 bg-primary" id="slider-multiple">
        <div class="swiper fade show active">
            <div style="overflow: visible;" class="swiper-container" data-options='{"slidesPerView": 1, "loop": true, "breakpoints": {"992": {"slidesPerView": 1}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container py-4">
                            <div class="mt-n7 row justify-content-center align-items-center text-center">
                                <img class="testimonialImgCircleWH" data-aos="fade-down" src="https://www.iphonesavvy.com/sites/default/files/%5Bcurrent-date%3Afile_path%5D/jan-profile-circle.png">
                                <div class="col-lg-10 text-white" data-aos="zoom-in">
                                    <h3 class="font-size-4 font-weight-normal font-italic">Have just started working with SQUARE theme and have to say, it looks great. <br class="d-none d-lg-block"/>I love the simple and elegant layouts from a design point of view. <br class="d-none d-lg-block"/>Especially the Swiss inspired typography. I can't wait to get building with this theme.</h3>
                                    <p class="font-size-6 text-muted mb-0">Nelson Harris, CEO of AweSum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="container py-4">
                            <div class="mt-n7 row justify-content-center align-items-center text-center">
                                <img class="testimonialImgCircleWH" data-aos="fade-down" src="https://www.iphonesavvy.com/sites/default/files/%5Bcurrent-date%3Afile_path%5D/jan-profile-circle.png">
                                <div class="col-lg-10 text-white" data-aos="zoom-in">
                                    <h3 class="font-size-4 font-weight-normal font-italic">Have just started working with SQUARE theme and have to say, it looks great. <br class="d-none d-lg-block"/>I love the simple and elegant layouts from a design point of view. <br class="d-none d-lg-block"/>Especially the Swiss inspired typography. I can't wait to get building with this theme.</h3>
                                    <p class="font-size-6 text-muted mb-0">Nelson Harris, CEO of AweSum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <div class="swiper-btn swiper-btn-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                    <div class="swiper-btn swiper-btn-next ml-3" tabindex="0" role="button" aria-label="Next slide"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mb-6">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related articles</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col">
                    <div class="swiper container">
                        <div class="swiper-container overflow-visible" data-options='{"slidesPerView": 1, "breakpoints": {"768": {"slidesPerView": 2}, "992": {"slidesPerView": 3}}}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card shadow">
                                        <img src="../assets/images/images-growers/fish-farm.jpeg" alt="photo-37" class="card-img-top relatedGrowerArticles">
                                        <div class="card-body">
                                            <p class="font-size-6 text-uppercase mb-0">
                                                <small class="font-weight-bold">May 28, 2019</small>
                                            </p>
                                            <h3 class="h4 card-title mb-0">
                                                <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>navigation-next-alternate</title>
                                                        <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                                        <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                                    </svg>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card shadow">
                                        <img src="../assets/images/images-growers/grow-tall.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                                        <div class="card-body">
                                            <p class="font-size-6 text-uppercase mb-0">
                                                <small class="font-weight-bold">May 28, 2019</small>
                                            </p>
                                            <h3 class="h4 card-title mb-0">
                                                <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>navigation-next-alternate</title>
                                                        <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                                        <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                                    </svg>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card shadow">
                                        <img src="../assets/images/images-growers/leaf-2.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                                        <div class="card-body">
                                            <p class="font-size-6 text-uppercase mb-0">
                                                <small class="font-weight-bold">May 28, 2019</small>
                                            </p>
                                            <h3 class="h4 card-title mb-0">
                                                <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>navigation-next-alternate</title>
                                                        <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                                        <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                                    </svg>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card shadow">
                                        <img src="../assets/images/images-growers/grow-tall-2.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                                        <div class="card-body">
                                            <p class="font-size-6 text-uppercase mb-0">
                                                <small class="font-weight-bold">May 28, 2019</small>
                                            </p>
                                            <h3 class="h4 card-title mb-0">
                                                <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>navigation-next-alternate</title>
                                                        <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                                        <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                                    </svg>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card shadow">
                                        <img src="../assets/images/images-growers/ga-commercial-1.png" alt="photo-37" class="card-img-top relatedGrowerArticles">
                                        <div class="card-body">
                                            <p class="font-size-6 text-uppercase mb-0">
                                                <small class="font-weight-bold">May 28, 2019</small>
                                            </p>
                                            <h3 class="h4 card-title mb-0">
                                                <a href="#" class="text-body stretched-link">
                                                    Quisque a aliquam enim. Vivamus venenatis et neque id iaculis
                                                    <svg width="25" height="25" class="ml-2 mt-n1 colorThemeGreen1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>navigation-next-alternate</title>
                                                        <path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path>
                                                        <path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path>
                                                    </svg>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="d-flex justify-content-end">
                <div class="swiper-btn swiper-btn-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                <div class="swiper-btn swiper-btn-next ml-3" tabindex="0" role="button" aria-label="Next slide"></div>
            </div>
        </div>
    </section>

    <section class="py-6 mt-6 py-lg-7 mt-lg-7 bg-light">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-xl-7 text-center text-lg-right">
                    <h2 class="h3 mb-lg-0">Purchase your lights today!</h2>
                </div>
                <div class="col text-center text-lg-left">
                    <a href="/residential" rel="noopener" style="background-color: #789904; border-color: #789904;" class="btn btn-secondary text-uppercase">Purchase now</a>
                </div>
            </div>
        </div>
        <form method="post" action="/api/email" class="d-flex flex-column container justify-content-center align-items-center mt-5">
            <div class="form-group d-flex flex-row">
                <input name="email" placeholder="email@email.com...">
                <button type="submit" class="ml-1 emailFormSubmit">Submit</button>
            </div>
            <small class="form-text text-muted mt-0">Send your email for future lighting updates and grow tips!</small>
        </form>
    </section>

    <script>
        var buyNow = document.querySelector('#buy-now');

        buyNow.addEventListener('click', () => {
            document
                .location
                .replace('/checkout')
        })
    </script>
{% endblock %}