{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}
{% set navPic = true %}

{% block content %}
    <div style="height: 200px;"></div>

    <!--Section: Block Content-->
    <section style="margin-right: 10%; margin-left: 10%; margin-bottom: 100px;">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                {# <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">
                                <a href="assets/images/images-growers/light.jpeg"
                data-size="710x823">
                                    <img src="assets/images/images-growers/light.jpeg"
                  class="img-fluid z-depth-1">
                                </a>
                            </figure>
                        </div>

                    </div>

                </div> #}

                <div class="container" style="width: 400px; width: 100%; height: 375px; margin-top: 50px;">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">

                        <ul class="carousel__slides">
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/assets/images/images-growers/light.jpeg" alt="Light">
                                    </div>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/assets/images/images-growers/light.jpeg" alt="light">
                                    </div>
                                </figure>
                            </li>

                        </ul>
                        <ul class="carousel__thumbnails">
                            <li>
                                <label for="slide-1"><img src="/assets/images/images-growers/light.jpeg" alt="stock-app"></label>
                            </li>

                            <li>
                                <label for="slide-2"><img src="/assets/images/images-growers/light.jpeg"
                                    alt="daily-planner"></label>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <h5>{{product.product_name}}</h5>
                <p class="mb-2 text-muted text-uppercase small">{{product.type}}</p>

                <p>
                    <span class="mr-1">
                        <strong>${{product.price}}</strong></span></p>
                <p class="pt-1">{{product.details}}</p>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Model</strong>
                                </th>
                                <td>{{product.product_name}}</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Watts</strong>
                                </th>
                                <td>1200</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Delivery</strong>
                                </th>
                                <td>USA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive mb-2">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="pl-0 pb-0 w-25">Quantity</td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="def-number-input number-input safari_only mb-0">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" style="background-color: #789904;" class="btn btn-primary btn-md mr-1 mb-2" id="buy-now">Buy now</button>
                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                    <i
          class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
            </div>
        </div>

    </section>

    <div class="tabset" style="margin-right: 15%; margin-left: 15%; margin-bottom: 100px;">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="Table" checked>
        <label for="tab1">Specs</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="Other">
        <label for="tab2">Other</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="Other">
        <label for="tab3">Other</label>

        <div class="tab-panels">
            <section id="Table" class="tab-panel">
                <table class="table">
                    <thead style="background-color: #90c23e; color: white;">
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Energy Used</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="Other" class="tab-panel">More Info</section>
            <section id="Other" class="tab-panel">More Info!!!!!!</section>
        </div>

    </div>

    <script>
        var buyNow = document.querySelector('#buy-now');

        buyNow.addEventListener('click', () => {
            document
                .location
                .replace('/checkout')
        })
    </script>
{% endblock %}