{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}
{% set navPic = true %}

{% block content %}
    <div style="height: 200px;"></div>

    <!--Section: Block Content-->
    <section style="margin-right: 15%; margin-left: 15%; margin-bottom: 100px;">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">
                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                data-size="710x823">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                  class="img-fluid z-depth-1">
                                </a>
                            </figure>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <h5>Fantasy T-shirt</h5>
                <p class="mb-2 text-muted text-uppercase small">Shirts</p>

                <p>
                    <span class="mr-1">
                        <strong>$12.99</strong></span></p>
                <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
        error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
        officia quis dolore quos sapiente tempore alias.</p>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Model</strong>
                                </th>
                                <td>Shirt 5407X</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Color</strong>
                                </th>
                                <td>Black</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row">
                                    <strong>Delivery</strong>
                                </th>
                                <td>USA, Europe</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive mb-2">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="pl-0 pb-0 w-25">Quantity</td>
                                <td class="pb-0">Select size</td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="def-number-input number-input safari_only mb-0">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus"></button>
                                    </div>
                                </td>
                                <td>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline pl-0">
                                            <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                      checked>
                                            <label class="form-check-label small text-uppercase card-link-secondary"
                      for="small">Small</label>
                                        </div>
                                        <div class="form-check form-check-inline pl-0">
                                            <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                                            <label class="form-check-label small text-uppercase card-link-secondary"
                      for="medium">Medium</label>
                                        </div>
                                        <div class="form-check form-check-inline pl-0">
                                            <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                                            <label class="form-check-label small text-uppercase card-link-secondary"
                      for="large">Large</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-primary btn-md mr-1 mb-2" id="buy-now">Buy now</button>
                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                    <i
          class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
            </div>
        </div>

    </section>
    <!--Section: Block Content-->
    <script>
        var buyNow = document.querySelector('#buy-now');

        buyNow.addEventListener('click', () => {
            document
                .location
                .replace('/checkout')
        })
    </script>
{% endblock %}