<!-- Left sidebar-->
<div class="col-12 col-lg-3 col-xl-2 sidebar sidebar-left bg-light">
    <div class="d-lg-block collapse" id="sidebarCollapse">
        <div class="pt-6 pb-3">
            <div class="mb-3 mb-md-5">
                <h6 class="mb-2 text-uppercase">Getting Started</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link {% if title == 'Introduction' %}active{% endif %}">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a href="file-structure.html" class="nav-link {% if title == 'File structure' %}active{% endif %}">File structure</a>
                    </li>
                    <li class="nav-item">
                        <a href="build-tools.html" class="nav-link {% if title == 'Build tools' %}active{% endif %}">Build tools</a>
                    </li>
                    <li class="nav-item">
                        <a href="customisation.html" class="nav-link {% if title == 'Customisation' %}active{% endif %}">Customisation</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a href="changelog.html" class="nav-link {% if title == 'Changelog' %}active{% endif %}">Changelog</a>
                        <span class="badge badge-pill badge-secondary ml-auto align-self-center">1.0.2</span>
                    </li>
                </ul>
            </div>

            <div class="mb-3 mb-md-5">
                <h6 class="mb-2 text-uppercase">Components</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="alerts.html" class="nav-link {% if title == 'Alerts' %}active{% endif %}">Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a href="animations.html" class="nav-link {% if title == 'Animations' %}active{% endif %}">Animations</a>
                    </li>
                    <li class="nav-item">
                        <a href="badges.html" class="nav-link {% if title == 'Badges' %}active{% endif %}">Badges</a>
                    </li>
                    <li class="nav-item">
                        <a href="buttons.html" class="nav-link {% if title == 'Buttons' %}active{% endif %}">Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a href="cards.html" class="nav-link {% if title == 'Cards' %}active{% endif %}">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a href="cookie-consent.html" class="nav-link {% if title == 'Cookie consent' %}active{% endif %}">Cookie consent</a>
                    </li>
                    <li class="nav-item">
                        <a href="countdown.html" class="nav-link {% if title == 'Countdown' %}active{% endif %}">Countdown</a>
                    </li>
                    <li class="nav-item">
                        <a href="countup.html" class="nav-link {% if title == 'Countup' %}active{% endif %}">Countup</a>
                    </li>
                    <li class="nav-item">
                        <a href="devices.html" class="nav-link {% if title == 'Devices' %}active{% endif %}">Devices</a>
                    </li>
                    <li class="nav-item">
                        <a href="floating-objects.html" class="nav-link {% if title == 'Floating objects' %}active{% endif %}">Floating objects</a>
                    </li>
                    <li class="nav-item">
                        <a href="forms.html" class="nav-link {% if title == 'Forms' %}active{% endif %}">Forms</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallery.html" class="nav-link {% if title == 'Gallery' %}active{% endif %}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="icons.html" class="nav-link {% if title == 'Icons' %}active{% endif %}">Icons</a>
                    </li>
                    <li class="nav-item">
                        <a href="images.html" class="nav-link {% if title == 'Images ' %}active{% endif %}">Images</a>
                    </li>
                    <li class="nav-item">
                        <a href="link-group.html" class="nav-link {% if title == 'Link group' %}active{% endif %}">Link group</a>
                    </li>
                    <li class="nav-item">
                        <a href="map.html" class="nav-link {% if title == 'Map' %}active{% endif %}">Map</a>
                    </li>
                    <li class="nav-item">
                        <a href="masonry.html" class="nav-link {% if title == 'Masonry' %}active{% endif %}">Masonry</a>
                    </li>
                    <li class="nav-item">
                        <a href="navs.html" class="nav-link {% if title == 'Navs' %}active{% endif %}">Navs</a>
                    </li>
                    <li class="nav-item">
                        <a href="navbar.html" class="nav-link {% if title == 'Navbar' %}active{% endif %}">Navbar</a>
                    </li>
                    <li class="nav-item">
                        <a href="parallax.html" class="nav-link {% if title == 'Parallax' %}active{% endif %}">Parallax</a>
                    </li>
                    <li class="nav-item">
                        <a href="preloader.html" class="nav-link {% if title == 'Preloader' %}active{% endif %}">Preloader</a>
                    </li>
                    <li class="nav-item">
                        <a href="prices.html" class="nav-link {% if title == 'Prices' %}active{% endif %}">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a href="slider.html" class="nav-link {% if title == 'Slider' %}active{% endif %}">Slider</a>
                    </li>
                    <li class="nav-item">
                        <a href="smooth-scroll.html" class="nav-link {% if title == 'Smooth scroll' %}active{% endif %}">Smooth scroll</a>
                    </li>
                    <li class="nav-item">
                        <a href="sticky-element.html" class="nav-link {% if title == 'Sticky element' %}active{% endif %}">Sticky element</a>
                    </li>
                    <li class="nav-item">
                        <a href="tables.html" class="nav-link {% if title == 'Tables' %}active{% endif %}">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a href="typed-text.html" class="nav-link {% if title == 'Typed text' %}active{% endif %}">Typed text</a>
                    </li>
                    <li class="nav-item">
                        <a href="typography.html" class="nav-link {% if title == 'Typography' %}active{% endif %}">Typography</a>
                    </li>
                </ul>
            </div>

            <div class="mb-3 mb-md-5">
                <h6 class="mb-2 text-uppercase">Utilities</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="background.html" class="nav-link {% if title == 'Background' %}active{% endif %}">Background</a>
                    </li>
                    <li class="nav-item">
                        <a href="borders.html" class="nav-link {% if title == 'Borders' %}active{% endif %}">Borders</a>
                    </li>
                    <li class="nav-item">
                        <a href="image.html" class="nav-link {% if title == 'Image' %}active{% endif %}">Image</a>
                    </li>
                    <li class="nav-item">
                        <a href="lift.html" class="nav-link {% if title == 'Lift' %}active{% endif %}">Lift</a>
                    </li>
                    <li class="nav-item">
                        <a href="overlay.html" class="nav-link {% if title == 'Overlay' %}active{% endif %}">Overlay</a>
                    </li>
                    <li class="nav-item">
                        <a href="shapes.html" class="nav-link {% if title == 'Shapes' %}active{% endif %}">Shapes</a>
                    </li>
                    <li class="nav-item">
                        <a href="svg.html" class="nav-link {% if title == 'SVG' %}active{% endif %}">SVG</a>
                    </li>
                    <li class="nav-item">
                        <a href="visibility.html" class="nav-link {% if title == 'Visibility' %}active{% endif %}">Visibility</a>
                    </li>
                </ul>
            </div>

            <div class="mb-3 mb-md-5">
                <h6 class="mb-2 text-uppercase">Sources and credits</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="credit-plugins.html" class="nav-link {% if title == 'Plugins' %}active{% endif %}">Plugins</a>
                        <a href="credit-images.html" class="nav-link {% if title == 'Images' %}active{% endif %}">Images</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>