<!-- credit-images.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Images" %}

{% block content %}
    <div class="container-fluid py-0">
        <div class="row">
            {% include "partials/_sidebar.njk" %}

            <div class="col-12 col-lg-6 col-xl-8 offset-lg-3 offset-xl-2">
                <div class="row">
                    <div class="col py-5 docs-text">
                        <h1 class="h2">{{ title }}</h1>
                        <div class="d-flex flex-wrap flex-md-nowrap align-items-baseline justify-content-between">
                            <p class="lead text-muted mb-0">Thanks to everyone for sharing their work on Unsplash.</p>
                        </div>
                        <hr>
                        
                        <section class="py-5">
                            <ul>
                                <li>Photo by <a href="https://unsplash.com/@4dgraphic" target="_blank" rel="noopener">Alexander Dummer</a> on <a href="https://unsplash.com/photos/aS4Duj2j7r4" target="_blank" rel="noopener">https://unsplash.com/photos/aS4Duj2j7r4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@adrienolichon" target="_blank" rel="noopener">Adrien Olichon</a> on <a href="https://unsplash.com/photos/a2T-iETIX6A" target="_blank" rel="noopener">https://unsplash.com/photos/a2T-iETIX6A</a></li>
                                <li>Photo by <a href="https://unsplash.com/@alessiozaccaria" target="_blank" rel="noopener">Alessio Zaccaria</a> on <a href="https://unsplash.com/photos/3gBkPqxKbAQ" target="_blank" rel="noopener">https://unsplash.com/photos/3gBkPqxKbAQ</a></li>
                                <li>Photo by <a href="https://unsplash.com/@strandman" target="_blank" rel="noopener">Andreas Strandman</a> on <a href="https://unsplash.com/photos/4LaFanthIOw" target="_blank" rel="noopener">https://unsplash.com/photos/4LaFanthIOw</a></li>
                                <li>Photo by <a href="https://unsplash.com/@anniespratt" target="_blank" rel="noopener">Annie Spratt</a> on <a href="https://unsplash.com/photos/QckxruozjRg" target="_blank" rel="noopener">https://unsplash.com/photos/QckxruozjRg</a></li>
                                <li>Photo by <a href="https://unsplash.com/@anniespratt" target="_blank" rel="noopener">Annie Spratt</a> on <a href="https://unsplash.com/photos/wgivdx9dBdQ" target="_blank" rel="noopener">https://unsplash.com/photos/wgivdx9dBdQ</a></li>
                                <li>Photo by <a href="https://unsplash.com/@armedshutter" target="_blank" rel="noopener">Ayo Ogunseinde</a> on <a href="https://unsplash.com/photos/Erstoy-MuVA" target="_blank" rel="noopener">https://unsplash.com/photos/Erstoy-MuVA</a></li>
                                <li>Photo by <a href="https://unsplash.com/@armedshutter" target="_blank" rel="noopener">Ayo Ogunseinde</a> on <a href="https://unsplash.com/photos/sibVwORYqs0" target="_blank" rel="noopener">https://unsplash.com/photos/sibVwORYqs0</a></li>
                                <li>Photo by <a href="https://unsplash.com/@avantgardian" target="_blank" rel="noopener">Andrei Stratu</a> on <a href="https://unsplash.com/photos/kcJsQ3PJrYU" target="_blank" rel="noopener">https://unsplash.com/photos/kcJsQ3PJrYU</a></li>
                                <li>Photo by <a href="https://unsplash.com/@azispradana" target="_blank" rel="noopener">Azis Pradana</a> on <a href="https://unsplash.com/photos/c_5tdM3RifY" target="_blank" rel="noopener">https://unsplash.com/photos/c_5tdM3RifY</a></li>
                                <li>Photo by <a href="https://unsplash.com/@badashproducts" target="_blank" rel="noopener">Ash Edmonds</a> on <a href="https://unsplash.com/photos/Koxa-GX_5zs" target="_blank" rel="noopener">https://unsplash.com/photos/Koxa-GX_5zs</a></li>
                                <li>Photo by <a href="https://unsplash.com/@balazsketyi" target="_blank" rel="noopener">Balázs Kétyi</a> on <a href="https://unsplash.com/photos/_x335IZXxfc" target="_blank" rel="noopener">https://unsplash.com/photos/_x335IZXxfc</a></li>
                                <li>Photo by <a href="https://unsplash.com/@bechbox" target="_blank" rel="noopener">Mikkel Bech</a> on <a href="https://unsplash.com/photos/yjAFnkLtKY0" target="_blank" rel="noopener">https://unsplash.com/photos/yjAFnkLtKY0</a></li>
                                <li>Photo by <a href="https://unsplash.com/@brookecagle" target="_blank" rel="noopener">Brooke Cagle</a> on <a href="https://unsplash.com/photos/-uHVRvDr7pg" target="_blank" rel="noopener">https://unsplash.com/photos/-uHVRvDr7pg</a></li>
                                <li>Photo by <a href="https://unsplash.com/@campaign_creators" target="_blank" rel="noopener">Campaign Creators</a> on <a href="https://unsplash.com/photos/gMsnXqILjp4" target="_blank" rel="noopener">https://unsplash.com/photos/gMsnXqILjp4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@campaign_creators" target="_blank" rel="noopener">Campaign Creators</a> on <a href="https://unsplash.com/photos/qCi_MzVODoU" target="_blank" rel="noopener">https://unsplash.com/photos/qCi_MzVODoU</a></li>
                                <li>Photo by <a href="https://unsplash.com/@chrischarles357" target="_blank" rel="noopener">Chris Charles</a> on <a href="https://unsplash.com/photos/bzMgix8Dz-s" target="_blank" rel="noopener">https://unsplash.com/photos/bzMgix8Dz-s</a></li>
                                <li>Photo by <a href="https://unsplash.com/@cowomen" target="_blank" rel="noopener">CoWomen</a> on <a href="https://unsplash.com/photos/pd5FVvQ9-aY" target="_blank" rel="noopener">https://unsplash.com/photos/pd5FVvQ9-aY</a></li>
                                <li>Photo by <a href="https://unsplash.com/@cris_kreativ" target="_blank" rel="noopener">Cristian Lopez</a> on <a href="https://unsplash.com/photos/yxH0Y4leV1w" target="_blank" rel="noopener">https://unsplash.com/photos/yxH0Y4leV1w</a></li>
                                <li>Photo by <a href="https://unsplash.com/@danielkorpai" target="_blank" rel="noopener">Daniel Korpai</a> on <a href="https://unsplash.com/photos/zBTssriiFm0" target="_blank" rel="noopener">https://unsplash.com/photos/zBTssriiFm0</a></li>
                                <li>Photo by <a href="https://unsplash.com/@dascal" target="_blank" rel="noopener">Adrian Dascal</a> on <a href="https://unsplash.com/photos/yGGe9Aig9Vw" target="_blank" rel="noopener">https://unsplash.com/photos/yGGe9Aig9Vw</a></li>
                                <li>Photo by <a href="https://unsplash.com/@davidhenrichs" target="_blank" rel="noopener">david henrichs</a> on <a href="https://unsplash.com/photos/72AYEEBJpz4" target="_blank" rel="noopener">https://unsplash.com/photos/72AYEEBJpz4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@davidkovalenkoo" target="_blank" rel="noopener">David Kovalenko</a> on <a href="https://unsplash.com/photos/G85VuTpw6jg" target="_blank" rel="noopener">https://unsplash.com/photos/G85VuTpw6jg</a></li>
                                <li>Photo by <a href="https://unsplash.com/@dmyzss" target="_blank" rel="noopener">Yizheng Duanmu</a> on <a href="https://unsplash.com/photos/tXFbYqCimhI" target="_blank" rel="noopener">https://unsplash.com/photos/tXFbYqCimhI</a></li>
                                <li>Photo by <a href="https://unsplash.com/@dose" target="_blank" rel="noopener">Dose Media</a> on <a href="https://unsplash.com/photos/DiTiYQx0mh4" target="_blank" rel="noopener">https://unsplash.com/photos/DiTiYQx0mh4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@elijahsad" target="_blank" rel="noopener">Elijah O'Donnell</a> on <a href="https://unsplash.com/photos/7DVmV22nieQ" target="_blank" rel="noopener">https://unsplash.com/photos/7DVmV22nieQ</a></li>
                                <li>Photo by <a href="https://unsplash.com/@epicantus" target="_blank" rel="noopener">Daria Nepriakhina</a> on <a href="https://unsplash.com/photos/zoCDWPuiRuA" target="_blank" rel="noopener">https://unsplash.com/photos/zoCDWPuiRuA</a></li>
                                <li>Photo by <a href="https://unsplash.com/@euwars" target="_blank" rel="noopener">Farzad Nazifi</a> on <a href="https://unsplash.com/photos/p-xSl33Wxyc" target="_blank" rel="noopener">https://unsplash.com/photos/p-xSl33Wxyc</a></li>
                                <li>Photo by <a href="https://unsplash.com/@fotosushi" target="_blank" rel="noopener">Foto Sushi</a> on <a href="https://unsplash.com/photos/6anudmpILw4" target="_blank" rel="noopener">https://unsplash.com/photos/6anudmpILw4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@frantic" target="_blank" rel="noopener">Alex Kotliarskyi</a> on <a href="https://unsplash.com/photos/QBpZGqEMsKg" target="_blank" rel="noopener">https://unsplash.com/photos/QBpZGqEMsKg</a></li>
                                <li>Photo by <a href="https://unsplash.com/@freestocks" target="_blank" rel="noopener">freestocks</a> on <a href="https://unsplash.com/photos/VFrcRtEQKL8" target="_blank" rel="noopener">https://unsplash.com/photos/VFrcRtEQKL8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@freetousesoundscom" target="_blank" rel="noopener">Free To Use Sounds</a> on <a href="https://unsplash.com/photos/kOuCX7fh50U" target="_blank" rel="noopener">https://unsplash.com/photos/kOuCX7fh50U</a></li>
                                <li>Photo by <a href="https://unsplash.com/@frostroomhead" target="_blank" rel="noopener">Rodion Kutsaev</a> on <a href="https://unsplash.com/photos/IJ25m7fXqtk" target="_blank" rel="noopener">https://unsplash.com/photos/IJ25m7fXqtk</a></li>
                                <li>Photo by <a href="https://unsplash.com/@grohsfabian" target="_blank" rel="noopener">Fabian Grohs</a> on <a href="https://unsplash.com/photos/PuxTq4DwUHE" target="_blank" rel="noopener">https://unsplash.com/photos/PuxTq4DwUHE</a></li>
                                <li>Photo by <a href="https://unsplash.com/@guillaumeissaly29" target="_blank" rel="noopener">Guillaume Issaly</a> on <a href="https://unsplash.com/photos/PxJaS-XAFGQ" target="_blank" rel="noopener">https://unsplash.com/photos/PxJaS-XAFGQ</a></li>
                                <li>Photo by <a href="https://unsplash.com/@halacious" target="_blank" rel="noopener">Halacious</a> on <a href="https://unsplash.com/photos/tZc3vjPCk-Q" target="_blank" rel="noopener">https://unsplash.com/photos/tZc3vjPCk-Q</a></li>
                                <li>Photo by <a href="https://unsplash.com/@headwayio" target="_blank" rel="noopener">Headway</a> on <a href="https://unsplash.com/photos/5QgIuuBxKwM" target="_blank" rel="noopener">https://unsplash.com/photos/5QgIuuBxKwM</a></li>
                                <li>Photo by <a href="https://unsplash.com/@heinrichheld" target="_blank" rel="noopener">Christian Langenhan</a> on <a href="https://unsplash.com/photos/y-K2DTRl-bQ" target="_blank" rel="noopener">https://unsplash.com/photos/y-K2DTRl-bQ</a></li>
                                <li>Photo by <a href="https://unsplash.com/@helloimnik" target="_blank" rel="noopener">Hello I'm Nik 🎞</a> on <a href="https://unsplash.com/photos/_uQ9-Ax5wvg" target="_blank" rel="noopener">https://unsplash.com/photos/_uQ9-Ax5wvg</a></li>
                                <li>Photo by <a href="https://unsplash.com/@houcinencibphotography" target="_blank" rel="noopener">Houcine Ncib</a> on <a href="https://unsplash.com/photos/BKFdrNiKJOQ" target="_blank" rel="noopener">https://unsplash.com/photos/BKFdrNiKJOQ</a></li>
                                <li>Photo by <a href="https://unsplash.com/@jdubs" target="_blank" rel="noopener">Johnson Wang</a> on <a href="https://unsplash.com/photos/iI4sR_nkkbc" target="_blank" rel="noopener">https://unsplash.com/photos/iI4sR_nkkbc</a></li>
                                <li>Photo by <a href="https://unsplash.com/@jeffjeff_n8" target="_blank" rel="noopener">Nathan Jefferis</a> on <a href="https://unsplash.com/photos/3MoLgnpW1Jk" target="_blank" rel="noopener">https://unsplash.com/photos/3MoLgnpW1Jk</a></li>
                                <li>Photo by <a href="https://unsplash.com/@jeisblack" target="_blank" rel="noopener">Jason Blackeye</a> on <a href="https://unsplash.com/photos/pLmNaIqTXJk" target="_blank" rel="noopener">https://unsplash.com/photos/pLmNaIqTXJk</a></li>
                                <li>Photo by <a href="https://unsplash.com/@jeremybanks" target="_blank" rel="noopener">Jeremy Banks</a> on <a href="https://unsplash.com/photos/DnHUeDYzpUo" target="_blank" rel="noopener">https://unsplash.com/photos/DnHUeDYzpUo</a></li>
                                <li>Photo by <a href="https://unsplash.com/@jonlampel" target="_blank" rel="noopener">Jonathan Lampel</a> on <a href="https://unsplash.com/photos/L9wrEGJjRdo" target="_blank" rel="noopener">https://unsplash.com/photos/L9wrEGJjRdo</a></li>
                                <li>Photo by <a href="https://unsplash.com/@kg_media_pgh" target="_blank" rel="noopener">Karl Greif</a> on <a href="https://unsplash.com/photos/H5IXIH254AU" target="_blank" rel="noopener">https://unsplash.com/photos/H5IXIH254AU</a></li>
                                <li>Photo by <a href="https://unsplash.com/@linkedinsalesnavigator" target="_blank" rel="noopener">LinkedIn Sales Navigator</a> on <a href="https://unsplash.com/photos/hrhjn6ZTgrM" target="_blank" rel="noopener">https://unsplash.com/photos/hrhjn6ZTgrM</a></li>
                                <li>Photo by <a href="https://unsplash.com/@lukechesser" target="_blank" rel="noopener">Luke Chesser</a> on <a href="https://unsplash.com/photos/a2NRu2Wxa2o" target="_blank" rel="noopener">https://unsplash.com/photos/a2NRu2Wxa2o</a></li>
                                <li>Photo by <a href="https://unsplash.com/@markusspiske" target="_blank" rel="noopener">Markus Spiske</a> on <a href="https://unsplash.com/photos/T91fUTfVT_s" target="_blank" rel="noopener">https://unsplash.com/photos/T91fUTfVT_s</a></li>
                                <li>Photo by <a href="https://unsplash.com/@marvelous" target="_blank" rel="noopener">Marvin Meyer</a> on <a href="https://unsplash.com/photos/SYTO3xs06fU" target="_blank" rel="noopener">https://unsplash.com/photos/SYTO3xs06fU</a></li>
                                <li>Photo by <a href="https://unsplash.com/@mattedpictures" target="_blank" rel="noopener">Matthew Garoffolo</a> on <a href="https://unsplash.com/photos/y-7v63YjJNY" target="_blank" rel="noopener">https://unsplash.com/photos/y-7v63YjJNY</a></li>
                                <li>Photo by <a href="https://unsplash.com/@maxwellridgeway" target="_blank" rel="noopener">Maxwell Ridgeway</a> on <a href="https://unsplash.com/photos/UyhtqolKMb4" target="_blank" rel="noopener">https://unsplash.com/photos/UyhtqolKMb4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@michaeldam" target="_blank" rel="noopener">Michael Dam</a> on <a href="https://unsplash.com/photos/7Czv6Vm9Lf8" target="_blank" rel="noopener">https://unsplash.com/photos/7Czv6Vm9Lf8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@mimithian" target="_blank" rel="noopener">Mimi Thian</a> on <a href="https://unsplash.com/photos/-VHQ0cw2euA" target="_blank" rel="noopener">https://unsplash.com/photos/-VHQ0cw2euA</a></li>
                                <li>Photo by <a href="https://unsplash.com/@mitchel3uo" target="_blank" rel="noopener">Mitchell Luo</a> on <a href="https://unsplash.com/photos/iy5W_VgYuUA" target="_blank" rel="noopener">https://unsplash.com/photos/iy5W_VgYuUA</a></li>
                                <li>Photo by <a href="https://unsplash.com/@mitchnielsen" target="_blank" rel="noopener">Mitch Nielsen</a> on <a href="https://unsplash.com/photos/pWtNPCpvVA8" target="_blank" rel="noopener">https://unsplash.com/photos/pWtNPCpvVA8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@mygallery" target="_blank" rel="noopener">KS KYUNG</a> on <a href="https://unsplash.com/photos/xNJJvB0AkZ8" target="_blank" rel="noopener">https://unsplash.com/photos/xNJJvB0AkZ8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@neringa" target="_blank" rel="noopener">Ga</a> on <a href="https://unsplash.com/photos/RBerxXPnZPE" target="_blank" rel="noopener">https://unsplash.com/photos/RBerxXPnZPE</a></li>
                                <li>Photo by <a href="https://unsplash.com/@nycholasbenaia" target="_blank" rel="noopener">Nycholas Benaia</a> on <a href="https://unsplash.com/photos/2wGjjX8Qb-g" target="_blank" rel="noopener">https://unsplash.com/photos/2wGjjX8Qb-g</a></li>
                                <li>Photo by <a href="https://unsplash.com/@olianayda" target="_blank" rel="noopener">Olia Nayda</a> on <a href="https://unsplash.com/photos/Lq0HQ_IKfvw" target="_blank" rel="noopener">https://unsplash.com/photos/Lq0HQ_IKfvw</a></li>
                                <li>Photo by <a href="https://unsplash.com/@pascalswier16" target="_blank" rel="noopener">Pascal Swier</a> on <a href="https://unsplash.com/photos/7de474KZIbs" target="_blank" rel="noopener">https://unsplash.com/photos/7de474KZIbs</a></li>
                                <li>Photo by <a href="https://unsplash.com/@priscilladupreez" target="_blank" rel="noopener">Priscilla Du Preez</a> on <a href="https://unsplash.com/photos/XkKCui44iM0" target="_blank" rel="noopener">https://unsplash.com/photos/XkKCui44iM0</a></li>
                                <li>Photo by <a href="https://unsplash.com/@rgrzybowski" target="_blank" rel="noopener">Radek Grzybowski</a> on <a href="https://unsplash.com/photos/eBRTYyjwpRY" target="_blank" rel="noopener">https://unsplash.com/photos/eBRTYyjwpRY</a></li>
                                <li>Photo by <a href="https://unsplash.com/@rozetsky" target="_blank" rel="noopener">Ant Rozetsky</a> on <a href="https://unsplash.com/photos/HXOllTSwrpM" target="_blank" rel="noopener">https://unsplash.com/photos/HXOllTSwrpM</a></li>
                                <li>Photo by <a href="https://unsplash.com/@sabrituzcu" target="_blank" rel="noopener">Sabri Tuzcu</a> on <a href="https://unsplash.com/photos/-fKQsEift5Q" target="_blank" rel="noopener">https://unsplash.com/photos/-fKQsEift5Q</a></li>
                                <li>Photo by <a href="https://unsplash.com/@sadswim" target="_blank" rel="noopener">ian dooley</a> on <a href="https://unsplash.com/photos/TT-ROxWj9nA" target="_blank" rel="noopener">https://unsplash.com/photos/TT-ROxWj9nA</a></li>
                                <li>Photo by <a href="https://unsplash.com/@sarahdorweiler" target="_blank" rel="noopener">Sarah Dorweiler</a> on <a href="https://unsplash.com/photos/Sy8dsVyiPgs" target="_blank" rel="noopener">https://unsplash.com/photos/Sy8dsVyiPgs</a></li>
                                <li>Photo by <a href="https://unsplash.com/@smartworkscoworking" target="_blank" rel="noopener">Smartworks Coworking</a> on <a href="https://unsplash.com/photos/E7Tzh2TTS6c" target="_blank" rel="noopener">https://unsplash.com/photos/E7Tzh2TTS6c</a></li>
                                <li>Photo by <a href="https://unsplash.com/@stilclassics" target="_blank" rel="noopener">STIL</a> on <a href="https://unsplash.com/photos/zv5QSKaP8G8" target="_blank" rel="noopener">https://unsplash.com/photos/zv5QSKaP8G8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@studiorepublic" target="_blank" rel="noopener">Studio Republic</a> on <a href="https://unsplash.com/photos/fotKKqWNMQ4" target="_blank" rel="noopener">https://unsplash.com/photos/fotKKqWNMQ4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@superalpine" target="_blank" rel="noopener">Super Alpine</a> on <a href="https://unsplash.com/photos/YwVjYdWhY1k" target="_blank" rel="noopener">https://unsplash.com/photos/YwVjYdWhY1k</a></li>
                                <li>Photo by <a href="https://unsplash.com/@tadekl" target="_blank" rel="noopener">Tadeusz Lakota</a> on <a href="https://unsplash.com/photos/r6T6pJc4P8Q" target="_blank" rel="noopener">https://unsplash.com/photos/r6T6pJc4P8Q</a></li>
                                <li>Photo by <a href="https://unsplash.com/@tareqshuvo" target="_blank" rel="noopener">Tareq Shuvo</a> on <a href="https://unsplash.com/photos/vmmfv9Au6Ow" target="_blank" rel="noopener">https://unsplash.com/photos/vmmfv9Au6Ow</a></li>
                                <li>Photo by <a href="https://unsplash.com/@thefreak1337" target="_blank" rel="noopener">Valentin Petkov</a> on <a href="https://unsplash.com/photos/mYY0c9WKKk8" target="_blank" rel="noopener">https://unsplash.com/photos/mYY0c9WKKk8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@thinkmagically" target="_blank" rel="noopener">Kareya Saleh</a> on <a href="https://unsplash.com/photos/tLKOj6cNwe0" target="_blank" rel="noopener">https://unsplash.com/photos/tLKOj6cNwe0</a></li>
                                <li>Photo by <a href="https://unsplash.com/@timmykp" target="_blank" rel="noopener">Tim van der Kuip</a> on <a href="https://unsplash.com/photos/CPs2X8JYmS8" target="_blank" rel="noopener">https://unsplash.com/photos/CPs2X8JYmS8</a></li>
                                <li>Photo by <a href="https://unsplash.com/@trapnation" target="_blank" rel="noopener">Andre Benz</a> on <a href="https://unsplash.com/photos/RAXQkgmyrcA" target="_blank" rel="noopener">https://unsplash.com/photos/RAXQkgmyrcA</a></li>
                                <li>Photo by <a href="https://unsplash.com/@waterjournal" target="_blank" rel="noopener">Water Journal</a> on <a href="https://unsplash.com/photos/-EvvsegVoUE" target="_blank" rel="noopener">https://unsplash.com/photos/-EvvsegVoUE</a></li>
                                <li>Photo by <a href="https://unsplash.com/@we_are_details" target="_blank" rel="noopener">Ilona Panych</a> on <a href="https://unsplash.com/photos/n-rqqhztst4" target="_blank" rel="noopener">https://unsplash.com/photos/n-rqqhztst4</a></li>
                                <li>Photo by <a href="https://unsplash.com/@wildandinlove" target="_blank" rel="noopener">Alisha Hieb</a> on <a href="https://unsplash.com/photos/-WW6b0Mwplc" target="_blank" rel="noopener">https://unsplash.com/photos/-WW6b0Mwplc</a></li>
                                <li>Photo by <a href="https://unsplash.com/@youxventures" target="_blank" rel="noopener">You X Ventures</a> on <a href="https://unsplash.com/photos/Oalh2MojUuk" target="_blank" rel="noopener">https://unsplash.com/photos/Oalh2MojUuk</a></li>
                                <li>Photo by <a href="https://unsplash.com/@zacwolff" target="_blank" rel="noopener">Zac Wolff</a> on <a href="https://unsplash.com/photos/uuwA21vmI3o" target="_blank" rel="noopener">https://unsplash.com/photos/uuwA21vmI3o</a></li>
                                <li>Photo by <a href="https://unsplash.com/@qriusv" target="_blank" rel="noopener">Vivek Kumar</a> on <a href="https://unsplash.com/photos/7VfAcjlTF5g" target="_blank" rel="noopener">https://unsplash.com/photos/7VfAcjlTF5g</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-xl-2 sidebar sidebar-right py-6 d-none d-lg-block">
                
            </div>
        </div>
    </div>
{% endblock %}